body {
    font-family: sans-serif;
    text-transform: none;
    text-align: justify;
    font-size: 1.15em;
}

.header {
    border: 10px solid red;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    
    
}

.about-me {
    border: 10px solid steelblue;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex-container {
    display: flex;
    height: 250px;
    background: pink;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.flex-container-item {
    margin: 10px;
}

.contact-info-container {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.contact-info {
    margin: 10px;
}